ELASTIC_PASSWORD=xxx
REDIS_PASSWORD=xxx
API_SERVER_API_KEY=xxx

ALI_ACCESS_KEY_ID=xxx
ALI_SECRET_ACCESS_KEY=xxx
ALI_MARKET_APP_CODE=xxx
ALI_VOD_CALLBACK_KEY=xxx

TIM_SDK_APP_ID=xxx
TIM_SDK_APP_SECRET=xxx

WX_WEB_APP_ID=xxx
WX_WEB_APP_SECRET=xxx

WX_MP_APP_ID=xxx
WX_MP_APP_SECRET=xxx

WX_PAY_APPID=xxx
WX_PAY_MCHID=xxx
WX_PAY_APIV3_SECRET=xxx

AMAP_API_KEY=xxx
